{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block inner %}
  <div class="card">
  <article class="card-body">
  <h4 class="card-title mb-4 mt-1">{{ user.username }}</h4>
  <hr/>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="primaryAction btn btn-primary btn-sm">Update</button>
      </div>
    </div>
  </form>
  </article>
  </div>
{% endblock %}
