{% extends "account/base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block inner %}

  <div class="card">
    <article class="card-body">
      <h4 class="card-title mb-4 mt-1">{{ object.username }}</h4>
      <hr/>
      {% if object == request.user %}
        {% if object.name %}
          <p class="text-center">{{ object.name }}</p>
        {% endif %}
        <div class="list-group">
          <a href="{% url 'users:update' %}"
             class="list-group-item list-group-item-action text-center">My details</a>
          <a href="{% url 'account_email' %}"
             class="list-group-item list-group-item-action text-center">Emails</a>
        </div>
      {% endif %}
    </article>
  </div>


  </div>
{% endblock inner %}
