{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="card">
      <div class="card-body">
        {% crispy filter.form %}
      </div>
  </div>

  <table class="table table-borderless table-striped">
    <thead class="border-bottom">
  <tr>
    <th><p class="text-left"><i class="fas fa-globe-africa" title="Environment"></i></p></th>
    <th><p class="text-center"><i class="fas fa-list" title="Check code"></i></p></th>
    <th><p class="text-center"><i class="far fa-square" title="Last start"></i>
      <i class="fas fa-angle-double-right"></i></p></th>
    <th><p class="text-center"><i class="fas fa-angle-double-right"></i>
      <i class="fas fa-square" title="Last end"></i></p></th>
    <th><p class="text-center"><i class="far fa-clock" title="Status"></i></p></th>
    <th><p class="text-center"><i class="fas fa-question" title="Result"></i></p></th>
    <th><p class="text-center"><i class="fas fa-user-cog" title="User"></i></p></th>
  </tr>
    </thead>
  {% for object in object_list %}
  <tr>
    <td><p class="text-left">{{ object.environment.name }}</p></td>
    <td><p class="text-center">{{ object.datacheck.code }}</p></td>
    <td><p class="text-center">{{ object.last_start_time |default_if_none:""}}</p></td>
    <td><p class="text-center">{{ object.last_end_time |default_if_none:""}}</p></td>
    <td><p class="text-center">
      {% if object.status == 'ERROR' %}
        <i class="fas fa-exclamation" title="Error" style="color:red"></i>
      {% elif object.status == 'FINISHED' %}
        <i class="fas fa-square" title="Finished"></i>
      {% elif object.status == 'RUNNING' %}
        <i class="far fa-square" title="Running"></i>
      {% endif %}
    </p>
    </td>
    <td><p class="text-center">
      {% if object.result == 'FAILED' %}
        <i class="fas fa-times" style="color:red"></i>
      {% elif object.result == 'SUCCESS' %}
        <i class="fas fa-check" style="color:green"></i>
      {% elif object.result == 'WARNING' %}
        <i class="fas fa-exclamation-triangle" style="color:yellow"></i>
      {% endif %}
    </p>
    </td>
    <td><p class="text-center">
      {{ object.user.username }}
    </p>
  </tr>
  {% endfor %}
</table>
{% endblock %}
