{% load crispy_forms_field %}

<{% if tag %}{{ tag }}{% else %}div{% endif %}
  id="div_{{ field.auto_id }}"
  class="input-group input-group-sm{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
  {% if field.label and not field|is_checkbox and form_show_labels %}
    <div class="input-group-prepend">
      <label for="{{ field.id_for_label }}"
             class="col-form-label input-group-text {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
        {{ field.label|safe }}
      </label>
    </div>
  {% endif %}
  {% crispy_field field %}
  {% include 'bootstrap4/layout/help_text_and_errors.html' %}

</{% if tag %}{{ tag }}{% else %}div{% endif %}>
