{% extends "base.html" %}
{% load static %}
{% load buttons %}
{% load modals %}
{% block content %}
  <table class="table table-borderless table-striped">
    <thead>
    <tr>
      <th><p class="text-left"><i class="fas fa-globe-africa" title="Environment"></i></p></th>
      <th style="width: 12.5%">
        {% button_new 'systems_environment_create' %}
      </th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <p class="text-left">{{ object.name }}</p>
        </td>
        <td>
          <p class="text-right">
            {% button_edit object %}
            {% button_delete object %}
          </p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% modals_modal 'environment' %}

{% endblock %}

{% block javascript %}

  {{ block.super }}
  {% modals_delete_js 'environment' %}

{% endblock %}
