{% extends "base.html" %}
{% load static %}
{% load buttons %}
{% load modals %}
{% block content %}
  <table class="table table-borderless table-striped">
    <thead>
    <tr>
      <th><p class="text-left"><i class="fas fa-desktop" title="System"></i></p></th>
      <th><p class="text-center"><i class="fas fa-globe-africa" title="Environment"></i></p></th>
      <th><p class="text-center"><i class="fas fa-network-wired" title="Host"></i></p></th>
      <th>
        {% if perms.systems.add_instance %}
          {% button_new 'systems_instance_create' %}
        {% endif %}
      </th>
    </tr>
    </thead>
    {% for object in object_list %}
      <tr>
        <td>{{ object.system }}</td>
        <td><p class="text-center">{{ object.environment }}</p></td>
        <td><p class="text-center">{{ object.host }}</p></td>
        <td>
          <p class="text-right">
            {% button_hoverdetail 'systems/instance_hoverdetail' object %}
            {% if perms.systems.change_instance %}
              {% button_edit object %}
            {% endif %}
            {% if perms.systems.delete_instance %}
              {% button_delete object %}
            {% endif %}
          </p>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% modals_modal 'instance' %}

{% endblock %}

{% block javascript %}

  {{ block.super }}
  {% modals_delete_js 'instance' %}

{% endblock %}
