{% extends "base.html" %}
{% load static %}
{% load buttons %}
{% block content %}
<table class="table">
  <thead>
  <tr>
    <th>System</th>
    <th>Environment</th>
    <th>Host</th>
    <th>{% button_new 'systems_instance_create' %}</th>
  </tr>
  </thead>
  {% for object in object_list %}
  <tr>
    <td>{{ object.system }}</td>
    <td>{{ object.environment }}</td>
    <td>{{ object.host }}</td>
    <td>
      <p class="text-right">
        {% button_hoverdetail 'systems/instance_hoverdetail' object %}
        {% button_edit object %}
      </p>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
