{% extends "base.html" %}
{% load static %}
{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th>Link</th>
      <th>System
      <th/>
      <th>Application</th>
      <th style="width: 12.5%">
        <p class="text-right">
          <a class="btn btn-primary btn-sm" href="{% url 'systems_system_create' %}">New</a>
      </th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
        <td>{{ object.name }}</td>
        <td>{{ object.get_application_display }}</td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
{% endblock %}
