{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'systems_system_list' %}">System Listing</a></p>
<table class="table">
  <tr>
    <td>ID</td><td>Link</td>
    <td>name</td>
    <td>application</td>
  </tr>
  {% for object in object_list %}
  <tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.application }}</td>
  </tr>
  {% endfor %}
</table><a class="btn btn-primary" href="{% url 'systems_system_create' %}">Create new System</a>
{% endblock %}
